{% extends "themes/base_visitor.html.twig" %}


{% block title %}
	Contact
{% endblock %}

{% block description %}
	page de contact de l'entreprise Tables et Fleurs D'un Jour
{% endblock %}

{% block main %}
	<h1 class="text-center my-3 display-5">Contactez-moi
	</h1>
{% endblock %}
