html,
.body-visitor {
    height: 100%;
}

.body-visitor {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: white !important;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-brand img {
    height: 130px; // ajuste la taille du logo
}

.nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
