{% extends "themes/base_visitor.html.twig" %}


{% block title %}
	Nos locations
{% endblock %}

{% block description %}
	Page montrant toute les locations que l'entreprise Tables et Fleurs D'un Jour propose
{% endblock %}

{% block main %}
	<h1 class="text-center my-3 display-5">Nos produits en location</h1>
{% endblock %}
